<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<meta charset="utf-8">
		<title>Upload File</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="css/dialog.css" rel="stylesheet" type="text/css">
	</head>
<body>

	<form id="uploadForm" action="/admin/upload/content" method="POST" enctype="multipart/form-data" data-ng-app="demo">

		<p>
			<span class="btn btn-success fileinput-button">
				<i class="glyphicon glyphicon-plus"></i>
				<span>Select files...</span>
				<input id="fileupload" type="file" name="files[]" multiple>
			</span>
		</p>

		<div id="progress" class="progress">
			<div class="progress-bar progress-bar-primary"></div>
		</div>

		<div id="files" class="files"></div>

	</form>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/vendor/jquery.ui.widget.js"></script>
	<script src="js/vendor/jquery.iframe-transport.js"></script>
	<script src="js/vendor/jquery.fileupload.js"></script>
	<script>
        $("#fileupload").change( function () {
            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                url: $('#uploadForm').attr('action'),
                success: function (msg) {
                    alert("hhhh")
                }
            });
        });
	</script>
</body>
</html>
