@charset "UTF-8";
*{
    margin:0 auto;
    padding:0;

}
body {
    font-family:tahoma;
    margin:0 auto;
    padding:0;
    background: #eeeeee url(../images/body.jpg);
    width:100%;
}
.add_attr {
    display: inline-block;
    color: #fff;
    background: #46b8da;
    padding: 7px 10px;
    border-radius: 5px;
}
.add_prod_img label {
    float: left;
    width: 122px !important;
}

input.img1_name_ru {
    display: inline-block;
    width: 200px !important;
}
input.img2_name_ru {
    display: inline-block;
    width: 200px !important;
}

.add_prod_img1 {
    display: inline-block;
    width: 100%;
    margin-bottom: 13px;
    margin-top: 20px;
}
.other_rus {
    float: left;
}

.other_en {
    float: left;
}
.add_attr:hover {
    background: #286090;
}
.page{
    /* padding:20px
     */
    display: inline-block;
    width: 100%;
}
.middle
{
    display:inline-block;
    width:100%;
    position:relative;
}
.middle table td{padding: 0px;
    margin: 0px;
    font-size: 14px;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04) inset;}

.middle table {border: rgb(185, 185, 185);}
.middle table th {background: linear-gradient(to bottom, #e2e2e2 0%, #cfcfcf 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: rgb(199, 199, 199);
    color: #555454;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    text-transform: uppercase;}
.ok{background: linear-gradient(to bottom, #e87400 0%, #c96500 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 26px;
    outline-style: none;
    line-height: 21px;
    padding: 1px 7px;
    width: 100%;
    position: relative;
    vertical-align: top;}
.ok:hover{background: linear-gradient(to bottom, #C96500 0%,#E87400 100%);}
.middle table select {padding: 5px;
    height: 33px;
    width: 100%;

    cursor: pointer;
    outline-style: none;
    border: 1px solid #ACABAB;
    background: linear-gradient(to bottom, #ECECEC 0%,#C5C4C4 100%);
    border-right: none;}
.login_form label {
    display:inline-block;
    margin: 15px 0;
    width: 70px;
    text-align:right;
}
.login_form input[type="text"],.login_form input[type="password"]{
    padding:5px
}
.login_form input[type="submit"]{
    padding: 5px 10px;
    width: 100px;
    margin: 28px 0 0px 0px;
    cursor: pointer;
}
.all_right_images{
    float:left;
    padding-top: 25px;
    padding-left: 10px;
}
.welcome{
    float:right;
    margin: 20px;
    color:#555;

}
.welcome a
{
    text-decoration:none;
    background: linear-gradient(to bottom, #DE1A1A 0%, #D45959 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 26px;
    outline-style: none;
    line-height: 21px;
    padding: 1px 12px;
    position: relative;
    vertical-align: top;
    border-radius: 4px;
    position: relative;
    bottom: 4px;
}
.welcome a:hover
{
    color: #333;
    text-decoration: none;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    background: linear-gradient(to bottom, #F44343 0%,#F8ADAD 100%);
}

.ok:hover {
    background: linear-gradient(to bottom, #C96500 0%,#E87400 100%);
}
.menu{
    display: inline-block;
    width: 100%;
    list-style: none;
    background: #D3D3D3;
    margin-top: 20px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18) inset;
}
.menu li{
    float:left;
    margin:10px
}
.menu li a{
    display: inline-block;
    padding: 10px 22px;
    margin-bottom: 0;
    font: 100%/138% "Trebuchet MS", Tahoma, Arial;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.menu a:hover {
    color: #E87400;
    text-decoration: none;
    background-position: 0 -41px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
.login_form{
    background: #FFF;
    width: 400px;
    margin: 0 auto;
    padding: 36px;
    margin-top: 52px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.35);
}
.footer{

    text-align: center;
    display:inline-block;
    width: 100%;
    padding-bottom: 17px;
    margin-top:30px;
}
.link, .add_tr{text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 10px;}
.link:hover{background-color: #2C8307;
    border-color: #2C8307;}
.middle h2 {float: left;
    margin: 15px;
    color: #6B6A6A;}
.add_brand input[type="submit"] {text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    margin-top: 0px;
    cursor: pointer;
    position:relative;
    right:20px;
    bottom:10px;
}
.add_brand input[type="submit"]:hover {background-color: #2C8307;
    border-color: #2C8307;}
.add_brand h3 {float: left;
    margin: 35px 9px 9px 16px;
    color: #6B6A6A;
}
.add_brand form {display: inline-block;
    width: 98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 20px;}
.add_brand input[type="text"] {padding: 7px;
    border-radius: 5px;
    border: 1px solid #AFAFAF;
    margin-left: 10px;
    margin-top:15px;
}
.all_brand h3 {margin: 0px 9px 9px 16px;
    color: #6B6A6A;
}
.add_brand label
{
    margin-left:20px;
}
#trnas_block{}
#trnas_block input[type="text"]{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #A3A3A3;

}
#trnas_block input[type="submit"]
{
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}
#trnas_block input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
.edit {
    text-decoration: none;

    padding: 11px 20px 11px 20px;
    border-radius: 3px;
    background-color: #2C8307;
    border-color: #2C8307;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;

    /* float: right; */

    margin-top: 10px;

    margin-right: 4px;

    margin-left: 4px;
}
.delete1{
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #C96500;
    border-color: #C96500;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;

    /* float: right; */

    margin-top: 10px;

    margin-left: 5px;

    margin-right: 5px;
}

.middle td input[type="submit"]:hover {
    color: #333;
    text-decoration: none;

    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}





/* */
.serach_prod
{

    display: inline-block;


    width: 98%;
    background: #fff;


    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 3px;


    margin-left: 15px;
    margin-bottom: 20px;
}

.serach_prod h3
{
    color: #ff8100;
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top:15px;
}
.serach_prod  label
{
    margin-left: 16px;
    color: #555;
    margin-right: 5px;
}
.serach_prod input
{
    padding:3px;
    color:#555;
}
.serach_prod select
{
    padding:3px;
}
.serach_prod input[type="submit"]
{
    cursor:pointer;
    border:none;
    outline:none;
    width:109px;
    height:27px;
    margin-bottom:30px;

}
.serach_prod input[type="submit"]:hover
{
    background: url(../images/search.png) 30% 24% no-repeat;
    color:#fff;
}
.pagination
{
    clear:both;
    padding:20px 0;
    position:relative;
    font-size:14px;
    line-height:13px;
    /* float:right; */
    margin-right:8px;
    text-align: center;
}

.pagination a
{
    display: inline-block;
    /* float:left; */
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    width:auto;
    color:#000;
    background-color: rgba(49, 69, 29, 0.61);
}

.pagination a:hover
{
    color:#fff;
    background-color: #ff8100;
}
.all_atribute  table td
{
    width:24% !important;
}
.add_atribute input[type="submit"]
{
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    cursor: pointer;
    position:relative;
    right:20px;
    bottom:10px;

}
.add_atribute input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

.add_atribute form
{	display: inline-block;
    width: 98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.add_atribute input[type="text"]
{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #AFAFAF;
    margin-left: 10px;
    margin-top: 10px;
}
.add_atribute h3
{
    margin: 9px 9px 9px 16px;
    color: #6B6A6A;

}
.all_atribute h3
{
    margin: 0px 9px 9px 16px;
    color: #6B6A6A;

}
.add_atribute input[name="meas_am"]
{
    margin-left:3px;
}
.add_atribute input[name="meas_ru"]
{
    margin-left:15px;
}
.add_atribute input[name="attr_ru"]
{
    margin-left:24px;
}
.add_atribute label
{
    margin-left:10px;
}

.add_banner input[type="submit"]
{
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    float: right;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 30px;
}
.add_banner #uploadPreview
{
    position:relative;
    top:10px;
}
.add_banner input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

.add_banner form
{	display: inline-block;
    width: 98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 31px;
    padding-bottom: 40px;}
.add_banner input[type="text"]
{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #AFAFAF;
    margin-left: 10px;
    margin-top: 10px;
}
.add_banner h3
{
    margin: 9px 9px 9px 16px;
    color: #6B6A6A;

}
.add_banner h3
{
    margin: 20px 9px 9px 16px;
    color: #6B6A6A;

}

.add_banner label
{
    margin-left: 15px;
    padding-right: 15px;
}
.all_banners h3
{
    margin-top: 10px;
    margin: 0px 9px 9px 16px;
    color: #6B6A6A;

    margin-bottom: 20px;
}


.news
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.news h2
{
    margin: 15px 9px 9px 16px;
    color: #6B6A6A;
}
.trans_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.text_name
{
    margin-left: 26px;
    margin-right: 138px;
}

.text_english
{
    margin-left: 218px;
}

.pg_title
{
    width:400px !important;
}
.pg_act,.news_img, #text_ed
{
    width:1% !important;
}
.news_cont td
{
    width:24%;
}
.categor
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.pasge_add
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.pasge_add h2
{
    margin: 15px 9px 9px 16px;
    color: #6B6A6A;
}
.add_prod_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.rus, .arm
{
    padding: 8px;
    position: relative;
    top: 82px;
    right: 115px;
    background: #rgba(0, 0, 0, 0.01);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.31);
    border-left: 1px solid rgba(0, 0, 0, 0.31);
    border-right: 1px solid rgba(0, 0, 0, 0.31);
}
.tab_link.active
{
    padding: 8px;
    position: relative;
    top: 82px;
    right: 115px;
    background: #fff !important;
    color:#000 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.31);
    border-left: 1px solid rgba(0, 0, 0, 0.31);
    border-right: 1px solid rgba(0, 0, 0, 0.31);
}
.active
{
    background-color:#ccc !important;
    color:#fff !important;

}
.textareas
{
    display:inline-block;
    margin-bottom: 40px;
    position: relative;
    left: 54px;
    top: 50px;

}
.add_prod_form .arm_t input[type="text"]
{
    width: 609px !important;
    margin-left: 5px;
}
.add_prod_form .arm_t
{
    position:relative;
    left: 55px;
    top: 30px;
}
.add_prod_form .rus_t label
{
    position:relative;
    left:4px;
}
.add_prod_form .rus_t
{
    position:relative;
    left: 50px;
    top: 30px;
}
.add_prod_form .rus_t input
{
    margin-left: 17px;
    width: 609px !important;
}
.arm_d label
{
    position:relative;
    bottom: 15px;
}
.rus_d label
{
    position:relative;
    bottom:15px;
}

.add_prod
{
    margin-left: 50px;
    margin-top: 35px;
    position:relative;

}

.add_prod_form .add_prod select
{
    padding:3px;
    margin-bottom: 10px;
    width: 606px;
}
.add_prod_form .add_prod label
{
    padding:3px;
    margin-bottom: 10px;
    width: 606px;
}
.add_prod_form .add_prod input
{
    padding:3px;
    margin-bottom: 10px;
    width: 606px;
}
.add_prod select[name="pr_cat"]
{
    margin-left: 57px;
    width: 616px !important;
}
.add_prod select[name="pr_brand"]
{
    margin-left: 79px;
    width: 616px !important;
}
.add_prod input[name="pr_price"]
{
    margin-left: 86px;
}
.add_prod input[name="pr_old_price"]
{
    margin-left: 60px;
}
.add_prod input[name="pr_count"]
{
    margin-left: 79px;
}
.add_prod input[name="pr_code"]
{
    margin-left: 85px;
}
.add_prod input[type="file"]
{
    margin-left: 43px;
    width:222px !important;
}
.add_prod input[type="radio"]
{
    margin-top: 10px;
    margin-left: 188px;
    width: 20px;
    height: 16px;
    cursor:pointer;
}
.more_images
{
    margin-bottom:10px;
}
#add_prod input
{
    float: right;
    position: relative;
    right: 35px;
    bottom:30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;


}
#add_prod input:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
.add_image
{
    margin-left:3px;
}
.more_images a,.line_one a
{
    background:url(../images/delete.png) no-repeat;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:25px;
    font-size:0px;

}
.add_prod_img
{
    border:1px solid #ccc;
    margin-bottom: 20px;
    display:inline-block;
    width: 95%;
    float: left;

}
.add_prod_att
{
    border:1px solid #ccc;
    margin-bottom: 80px;
    display:inline-block;
    width: 95%;
    float: left;

}
.more_images div
{
    margin-left:151px;
}
.line_one select,.line_one input
{
    width: 362px;
    margin-left: 5px;
}
.add_prod_att a
{
    margin-left: 6px;
}
.line_one
{
    margin-bottom:0px;
    position: relative;
    display: inline-block;
}



/*Category*/
.add_cat_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.cat_foot
{
    display:inline-block;
    width:100%;
    margin-left:20px;
}
.cat_textarea
{
    float:left;
    margin-left: 20px;
    margin-top: 60px;
}
.add_cat_bott input
{
    float:right;
    position: relative;
    right: 20px;
    bottom: 10px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}
.add_cat_bott input:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

.cat_foot input
{
    width: 675px;
    margin-left: 16px;
    margin-bottom:15px;
    padding-top:6px;
    padding-bottom:6px;
}
.cat_foot  select
{
    width: 679px;
    margin-bottom:40px;
    padding-top:6px;
    padding-bottom:6px;
}

.add_cat_form .arm_t
{
    position: relative;
    left: 20px;
    top: 30px;
}
.add_cat_form .arm_t input[type="text"]
{
    width: 591px !important;
}
.add_cat_form .rus_t input
{
    width:591px;
    margin-left:17px;
}
.add_cat_form .rus_t label
{
    position: relative;
    left: 4px;
}
.add_cat_form .rus_t
{
    position: relative;
    left: 16px;
    top: 30px;
}



/*Add Page */
.add_page
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.page_textarea
{
    display:inline-block;
    margin-top:30px;
    margin-left:60px;
}
.add_page .arm_t
{
    position:relative;
    bottom:20px;

}
.add_page .rus_t
{
    position:relative;
    bottom:20px;

}
.add_page .arm_t input
{
    width: 646px;
    position: relative;
    left: 6px;
}
.add_page .rus_t input
{
    width: 646px;
    position: relative;
    left: 19px;
}
.add_page input[type="submit"]
{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}
.add_page input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}


/* Add News */
.add_news_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.news_textarea
{
    display:inline-block;
    margin-top:30px;
    margin-left:60px;
}
.news_textarea .arm_t
{
    position:relative;
    bottom:20px;

}
.news_textarea .rus_t
{
    position:relative;
    bottom:20px;

}
.news_textarea .arm_t input
{
    width: 642px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    left: 6px;
}
.news_textarea .rus_t input
{
    width: 642px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    left: 19px;
}
.news_textarea input[type="submit"]
{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}
.news_textarea input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

.arm_t input
{
    padding-top: 6px;
    padding-bottom: 6px;
}
.rus_t input
{
    padding-top: 6px;
    padding-bottom: 6px;
}

/*ERROR*/
.error
{
    text-align: center;
    position: absolute;
    width: 40%;
    background-color: #fff4d4;
    border-bottom: 1px solid #fbd05a;
    display: inline-block;
    left: 25%;
    top:5px;
    color:#000 !important;
}

/* MENU */
#menu_h2
{
    float:none;
}
.excist_menus
{

    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 20px;

}
.exc_menu
{
    float:left;
    margin-left:20px;
}
.exc_menu label
{
    display:inline-block;
    width:200px;
}
.exc_menu input[type="submit"]
{
    font-size:15px;
    color: #F7F7F7;
    margin-bottom: 9px;
    display: inline-block;
    background: linear-gradient(to bottom, #e87400 0%, #c96500 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px;
    border:none;
    cursor:pointer;
}
.exc_menu input[type="submit"]:hover
{
    background: linear-gradient(to bottom, #C96500 0%,#E87400 100%);
}
.exc_menu form
{
    padding:5px;
}
.menu_form
{
    display:inline-block;
    margin-left: 80px;
    background-color: rgb(211, 201, 201);
    margin-bottom: 30px;
}
.menu_form h4
{
    text-align:center;
    background-color: #e87400;
}
.menu_types
{
    float:left;
    padding: 20px 450px 70px 40px;
}
.menu_types h5,.menu_read h5
{
    font-size:20px;
    margin-bottom: 20px;
}
.menu_read
{
    float: right;
    display: inline-block;
    padding: 20px 30px 20px 30px;
}
.add_pages,.add_categories,.add_brands,.add_custom_link
{
    font-size:15px;
    color: #F7F7F7;
    margin-bottom: 9px;
    display: inline-block;
    background: linear-gradient(to bottom, #e87400 0%, #c96500 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px;
}
.add_pages:hover,.add_categories:hover,.add_brands:hover,.add_custom_link:hover
{
    background: linear-gradient(to bottom, #C96500 0%,#E87400 100%);
}
.save_menu_items_form label
{
    width: 200px;
    display: inline-block;
}
.custom_link_form label
{
    display:inline-block;
    width:250px
}

.all_pages,.custom_link_form
{
    margin-left:50px;
    margin-right:30px;
}
.custom_link_form input[type="button"]
{
    float:right;
    margin-top: 20px;
    padding: 6px;
    background-color: #EE8B07;
    border: none;
    cursor: pointer;
}

.custom_link_form input[type="button"]:hover
{
    background: linear-gradient(to bottom, #C96500 0%,#E87400 100%);
}
.save_menu_items_form input[type="submit"]
{
    font-size:15px;
    color: #F7F7F7;
    margin-bottom: 9px;
    display: inline-block;
    background: linear-gradient(to bottom, #e87400 0%, #c96500 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px;
    border:none;
    cursor:pointer;
}
.save_menu_items_form input[type="submit"]:hover
{
    background: linear-gradient(to bottom, #C96500 0%,#E87400 100%);
}

#exm
{
    margin-left:10px;
    margin-top:10px;
    color: rgb(1, 68, 64);
    font-size: 23px;
}

/*EDIT PRODUCT*/

.edit_prod_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.edit_prod_form  .arm_t, .rus_t
{
    position: relative;
    bottom: 20px;
}
.edit_prod_form  .arm_t input[type="text"]
{
    width:609px;

}
.edit_prod_form  .rus_t input[type="text"]
{
    width:616px;
}
.edit_product
{
    margin-left: 50px;
    margin-top: 35px;
    position:relative;

}

.edit_prod_form .edit_product select
{
    padding:3px;
    margin-bottom: 10px;
    width: 606px;
}
.edit_prod_form .edit_product label
{
    /* padding:3px; */
    margin-bottom: 10px;
    width: 606px;
}
.edit_prod_form .edit_product input
{
    padding:3px;
    margin-bottom: 10px;
    width: 606px;
}

.edit_product select[name="pr_cat"]
{
    margin-left: 57px;
    width: 616px !important;
}
.edit_product select[name="pr_brand"]
{
    margin-left: 79px;
    width: 616px !important;
}
.edit_product input[name="pr_price"]
{
    margin-left: 86px;
}
.edit_product input[name="pr_old_price"]
{
    margin-left: 60px;
}
.edit_product input[name="pr_count"]
{
    margin-left: 79px;
}
.edit_product input[name="pr_code"]
{
    margin-left: 85px;
}
.edit_product input[type="file"]
{
    margin-left: 43px;
    width:222px !important;
}
.edit_product input[type="radio"]
{
    margin-top: 10px;
    margin-left: 188px;
    width: 20px;
    height: 16px;
    cursor:pointer;
}
.edit_textarea
{
    display: inline-block;

}

.edit_prod_form input[type="submit"]
{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    position: relative;
    right: 30px;
}

.edit_prod_form input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

/* EDIT Category*/
.edit_cat
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.edit_cat_textarea
{
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
}
.edit_cat_bottom
{
    margin-left:50px;
}
.edit_cat_bottom select
{
    margin-top:20px;
}
.edit_cat_bottom label
{
    display:inline-block;
    width:150px;
}
.edit_cat_bottom input
{
    padding:5px 480px 5px 0px;
}
.edit_cat_bottom select
{
    padding: 5px 555px 5px 0px;
    position: relative;
    right: 5px;
}
.edit_cat .arm_t, .rus_t
{
    position: relative;
    bottom: 20px;
}
.edit_cat .arm_t input[type="text"]
{
    width:590px;
}
.edit_cat .rus_t input[type="text"]
{
    width:603px;
}

.edit_cat input[type="submit"]
{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    position: relative;
    right: 30px;
}
.edit_cat input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

/*Edit  Page*/
.edit_page_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.edit_page_form .arm_t, .rus_t
{
    position: relative;
    bottom: 20px;
}
.edit_page_form .arm_t input[type="text"]
{
    width:650px;
}
.edit_page_form .rus_t input[type="text"]
{
    width:663px;
}
.edit_page_textarea
{
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
}
.edit_page_form input[type="submit"]
{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}
.edit_page_form input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

/*Edit NEWS*/
.edit_news_form
{
    display:inline-block;
    width:98%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.edit_news_form .arm_t, .rus_t
{
    position: relative;
    bottom: 20px;
}
.edit_news_form .arm_t input[type="text"]
{
    width:629px;
}
.edit_news_form .rus_t input[type="text"]
{
    width:659px;
}
.edit_news_textarea
{
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
}
.edit_news_form input[type="submit"]
{
    margin-top: 15px;
    margin-bottom: 30px;
    text-decoration: none;
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
}
.edit_news_form input[type="submit"]:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}

/*Edit Atribute*/
.ru_after input[type="text"],.am_after input[type="text"]
{
    width: 99%;
    text-align: center;
    height: 50px;
    border:1px solid rgb(58, 255, 0);
}
/**/
.save
{
    padding: 11px 10px 11px 10px;
    border-radius: 3px;
    background-color: #6ab729;
    border-color: #6ab729;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.save:hover
{
    background-color: #2C8307;
    border-color: #2C8307;
}
.post_category
{

    display: inline-block;
    font-size: 20px;
    width: 50%;
    color: #fff;
    float: right;
    text-align: right;
}
.post_category_block span
{
    position: relative;
    top: 5px;
    right: 30px;
}
.post_category_block p
{
    position: relative;
    /* bottom: 10px; */
    right: 20px;
    font-size: 45px;
    display: inline-block;
}
.post_category_block
{
    display: inline-block;
    width: 22%;
    border: 1px solid #15FF29;
    border-radius: 15px;
    height: 148px;
    margin-right:15px;
}
.category_icon
{
    display: inline-block;
    background: url("../images/categori.png") no-repeat;
    width: 50%;
    height: 100px;
}
.category_top
{
    display: inline-block;
    background-color: #50E022;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100px;
    width: 100%;
}
.post_category_bottom a
{
    text-decoration:none;
    color:#000;
    background: url("../images/right_green.png") 95% 0% no-repeat;
    width: 100%;
    height:26px;
    display: inline-block;
    text-indent: 15px;
}
.post_category_bottom
{
    display: inline-block;
    width: 100%;
    margin-top: 10px;

}
.post_category_bottom a:hover
{
    background-position-x: 95%;
    text-decoration:underline;
    background-position-y: 100%;
}

.post_prod
{

    display: inline-block;
    font-size: 20px;
    width: 50%;
    color: #fff;
    float: right;
    text-align: right;
}
.post_prod_block span
{
    position: relative;
    top: 5px;
    right: 30px;
}
.post_prod_block p
{
    position: relative;
    /* bottom: 10px; */
    right: 20px;
    font-size: 45px;
    display: inline-block;
}
.post_prod_block
{
    display: inline-block;
    width: 22%;
    border: 1px solid #9D9DFE;
    border-radius: 15px;
    height: 148px;
}
.prod_icon
{
    display: inline-block;
    background: url("../images/categori.png") no-repeat;
    width: 50%;
    height: 100px;
}
.prod_top
{
    display: inline-block;
    background-color: #9999FE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100px;
    width: 100%;
}
.post_prod_bottom a
{
    text-decoration:none;
    color:#000;
    background: url("../images/right_blue.png") 95% 0% no-repeat;
    width: 100%;
    height:26px;
    display: inline-block;
    text-indent: 15px;
}
.post_prod_bottom
{
    display: inline-block;
    width: 100%;
    margin-top: 10px;

}
.post_prod_bottom a:hover
{
    background-position-x: 95%;
    text-decoration:underline;
    background-position-y: 100%;
}

.home
{
    margin:15px 0 15px 15px;
    margin-top:10px;
    margin-bottom:10px;
}
.menu_items_left {
    display: inline-block;
    width: 310px;
    float: left;
}
.menu_add_pages {
    display: inline-block;
    width: 100%;
    background-color: #eee;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 15px;
}
.menu_add_pages_title {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.menu_add_pages_content {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
input.add_to_menu_pages,input.add_to_menu_cats,input.add_to_menu_link {
    margin-top: 20px;
}
.one_row input[type="checkbox"]{
    width: 18px;
    height: 18px;
    float:left;
}
.one_row {
    margin-top: 5px;
}
select.menus {
    margin: 15px;
    padding: 10px;
    width: 332px;
}
.menu_right_area {
    float: left;
    margin-left: 50px;
    display: inline-block;
    width: 500px;
}

.menu_right_area ul {
    list-style: none;
    width: 450px !important;
}
.menu_right_area ul li{
    background-color: #eee;
    cursor: move;
}
.menu_right_area ul li a{
    float: right;
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(delete_menu_item.png) no-repeat;
    cursor: pointer;
}
select.choos_gallery {
    margin: 15px;    padding: 10px;    width: 332px;
}
a.add_menu_to {
    color: #2C7DDF;
}
a.add_attribute {
    margin: 12px 6px;
    display: inline-block;
}

a.add_attribute1 {
    display: inline-block;
    margin-bottom: 8px;
}
.attributes {
    display: inline-block;
    width: 100%;
}
.one_attrib {
    margin-top: 40px;
    display: inline-block;
    /* width: 16%; */
    /* float: left; */
    margin-left: 6px;
    min-height: 260px;
}
.attribute_name {
    /* float: left; */
    margin-bottom: 14px;
    margin-left: 20px;
    font-size: 19px;
    color: #0089CF;
}
.attribute_values {
    float: left;
    width: 300px;
    margin-left: 20px;
}
input.value_id {
    width: 20px !important;
    height: 20px;
    float: left;
    display: inline-block;
}
.attribute_values label {
    float: left;
    width: 85% !important;
    padding-top: 0 !important;
}
input.table_pr_order {
    width: 49px;
    text-align: center;
    padding: 2px 0px;
    font-size: 14px;
    margin-bottom: 6px;
}
input.table_order_ok {
    padding: 4px 17px;
    background: #D26900;
    border: none;
    color: #fff;
}
.add_atribute1 {
    display: inline-block;
    width: 95%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.41);
    margin-top: 3px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 20px;
}
.seo_tools .arm_t {
    top: 0 !important;
}

.seo_tools .rus_t {
    top: 0 !important;
}

.seo_tools .rus_t input{
    margin-left: 0 !important;
}
form.edit_cat .seo_tools {
    box-sizing: border-box;
    padding-left: 50px;
}
.seo_tools {
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
}

.seo_tools label {
    display: inline-block;
    width: 260px;
    margin-bottom: 10px;
}

.seo_tools .arm_t input[type="text"] {
    width: 532px !important;
    display: inline-block;
    margin-bottom: 9px;
}

.seo_tools .rus_t input[type="text"] {
    width: 532px !important;
    display: inline-block;
    margin-bottom: 9px;
}

.seo_tools textarea {width: 534px !important;height: 150px !important;}
.cat_queue {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 18px;
}

.cat_queue_box {
    display: inline-block;
    width: 100%;
    column-count: 3;
    margin-bottom: 17px;
    padding-left: 19px;
    box-sizing: border-box;
}

.cat_queue p {
    display: inline-block;
    width: 100%;
    margin-bottom: 13px;
}


input.cat_queue_chack {
    width: 20px;
    height: 16px;
}

.cat_queue_block {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.cat_queue_block span {
    display: inline-block;
    position: relative;
    top: -3px;
}
.cat_queue label {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #000;
}